$tra-green: #24651e;
$tra-grey: #f5f2f2;
$tra-dark-grey: #e5e5e5;

.app-tra {
  .govuk-template,
  .govuk-template__body {
    background-color: $tra-dark-grey;
  }

  .govuk-width-container {
    background-color: govuk-colour('white');
  }

  .govuk-main-wrapper {
    border-bottom: 5px solid $tra-green;
  }

  .app-tra-header {
    background: linear-gradient(to bottom, #ffffff 0%,#ecf7ff 100%);
    padding: govuk-spacing(9) govuk-spacing(3) govuk-spacing(2) govuk-spacing(3)
  }

  .app-tra-section {
    background-color: $tra-green;
    color: govuk-colour('white');
    padding: govuk-spacing(1) govuk-spacing(3);

    .govuk-breadcrumbs {
      border: none;
      margin: 0;
    }
  }

  .app-\!-inherit-colour {
    color: inherit !important;
  }

  .app-\!-tra-green {
    color: $tra-green !important;
  }

  .app-tra-logged-in {
    padding: govuk-spacing(1) govuk-spacing(3);
    background-color: $tra-grey;

    p {
      margin: 0;
    }
  }

  .app-tra-wrapper,
  .govuk-main-wrapper {
    padding-left: govuk-spacing(3);
    padding-right: govuk-spacing(3);
  }

  .app-tra-form {
    background-color: $tra-grey;
    padding: govuk-spacing(2);
    border: 1px solid $tra-dark-grey;
  }

  .app-tra-panel {
    background-color: $tra-grey;
    padding: govuk-spacing(2);

    p,
    a {
      @include govuk-font(16);
    }
  }

  .app-tra-panel--green {
    background-color: $tra-green;
    color: govuk-colour('white');

    p,
    a {
      color: govuk-colour('white');
    }
  }

  .app-tra-footer {
    border: none;
    background: $tra-dark-grey;

    .govuk-width-container {
      background: none;
    }
  }
}
