{% extends "template.njk" %}
{% set htmlClasses = 'app-tra' %}
{% set name = data.firstName + ' ' + data.lastName %}

{% block head %}
  <link rel="stylesheet" href="/public/stylesheets/application.css" media="all">
  <script src="/public/javascripts/application.js" defer></script>
{% endblock %}

{% block pageTitle %}
  {{- "Error: " if errors -}}
  {{- title + " - " if title -}}
  {{- serviceName -}}
{% endblock %}

{% set bodyAttributes = {"data-module": "edge"} %}

{% block header %}
  <div class="govuk-width-container">
    <div class="app-tra-header">
      <div class="govuk-heading-m">
        <a href="#" class="app-!-tra-green">Teaching Regulation Agency</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block beforeContent %}
  <div class="app-tra-section">
    {% block pageNavigation %}{% endblock %}
  </div>
  <div class="app-tra-logged-in">
    <p class="govuk-!-font-size-16">You are currently logged into Teacher Self Service as: <strong>{{ name }}</strong> <a href="#">Log out »</a></p>
  </div>
  <div class="app-tra-wrapper govuk-!-margin-top-2">
    <div class="govuk-heading-m govuk-!-font-weight-regular">
      {{ name }}
    </div>
    <div class="govuk-heading-s govuk-!-margin-bottom-1">
      Teacher reference number
    </div>
    <p class="govuk-!-margin-bottom-0">{{ data.trn }}</p>
  </div>
{% endblock %}

{% block footer %}
  {{ govukFooter({
    classes: "app-tra-footer",
    meta: {
      items: [{
        text: "Clear session data",
        href: "/clear-session-data"
      }],
      visuallyHiddenTitle: "Footer links"
    }
  }) }}
{% endblock %}
